plugins/org.eclipse.osee.framework.messaging.test/jaxb/testMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

<xsd:element name="TestMessage" type="TestMessage"/>

<xsd:complexType name="TestMessage">
  <xsd:sequence>
    <xsd:element name="message" type="xsd:string"/>
    <xsd:element name="anotherMessage" type="xsd:string"/>
  </xsd:sequence>
</xsd:complexType>

</xsd:schema>
